# env
venv/

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# include processed data
!data/processed/

# include raw data (importantissimo)
!data/raw/

# ignore model (opzionale)
models/
